{% extends "base.html" %}
{% block content %}
	<div class="slide" id="p3">
            <div class="content fifth-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                                <div class="first-section">
                                    <div class="container-fluid">
                                        <div id="fourth" class="row">
                                            <div class="col-md-6">
                                                <div class="left-content">
                                                    <iframe src="https://ffdireitoshumanosangola.org/pt-pt/?s=Desenvolvimento+sustentável" style="height:550px;width:500px;"></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="right-image">
                                                       <iframe src="https://fffpapers.ssrn.com/sol3/papers.cfm?abstract_id=3502143" style="height:550px;width:500px;"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                        </div>
                    </div>
                </div>
            </div>
          </div>
{% endblock content %}